*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* impede rolagem */
    height: 100vh;     /* ocupa 100% da altura da tela */
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgba(13, 165, 20, 0.815);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#ffae00, #fbff00);
    display: flex;
}

.pontuacao-board{
    width: 100%;
    height: 440px;
    bottom: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content:space-around;
    background-image: url(./img/Terra.png);
}

.pontuacao{
    color: rgb(0, 0, 0);
    font-size: 40px;
    background-color: white;
    height: 60px;
    width: 300px;
    border-radius: 50px;
    text-align: center;
    margin-top: 10px;
}

.restart {
    position: absolute;
    top: 50%;     
    left: 50%;    
    transform: translate(-50%, -50%);
    font-size: 23px;
    padding: 8px 50px;
    background-color: #9900d6;
    border: rgb(37, 0, 80) solid 3px;
    color: rgb(75, 22, 105);
    cursor: pointer;
    visibility:hidden;
}

.restart:hover{
    background-color: #a902eb;
}

.pizza{
    position: absolute;
    bottom: 0;
    width: 82px;
    animation: pizza-animation 1.5s infinite linear;
}

.sol{
    width: 240px;
    position: absolute;
    bottom: 240px;
    animation: sol-animation 25s linear;
}

.pug{
    width: 240px;
    position: absolute;
    bottom: -80px;
    left: -40px;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes pizza-animation{
    from{
        right: -90px;
    }
    to{
        right: 100%;
    }
}

@keyframes sol-animation{
    from{
        right: -90px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump{
    0%{
        bottom: -80px;
    }

    40%{
        bottom: 50px;
    }

    50%{
        bottom: 50px;
    }

    60%{
        bottom: 50px;
    }

    100%{
        bottom: -80px;
    }
}