*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgba(30, 211, 39, 0.815);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#ffae00, #fbff00);
}

.pizza{
    position: absolute;
    bottom: 0;
    width: 82px;
    animation: pizza-animation 1.5s infinite linear;
}

.sol{
    width: 240px;
    position: absolute;
    bottom: 240px;
    animation: sol-animation 25s linear;
}

.pug{
    width: 240px;
    position: absolute;
    bottom: -80px;
    left: -40px;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes pizza-animation{
    from{
        right: -90px;
    }
    to{
        right: 100%;
    }
}

@keyframes sol-animation{
    from{
        right: -90px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump{
    0%{
        bottom: -80px;
    }

    40%{
        bottom: 50px;
    }

    50%{
        bottom: 50px;
    }

    60%{
        bottom: 50px;
    }

    100%{
        bottom: -80px;
    }
}